body{
    background-color: rgb(76, 100, 76);
}

.titulo{
    background-color: #1e4432;
}

.trecho{
    background-color: #1e4432; 
}

.p2{
    display: inline-block;
    float: right;
    width: 1300px;
}
.cu{

    display: inline-block;
    float: right;
    width: 1300px;

}

.poggers{
    display: inline-block;
    float: right;
    width: 1300px;


}

.atlas{
    display: inline-block;
    float: right;
    width: 1300px;


}